<!DOCTYPE html>                 
<html lang="de">                
<head>                          
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tagebuch{% endblock %}</title>
    
    <!--css liegt in Ordner static, style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <!-- extra_css Block für seiten-spezifische Styles -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <main>
        {% if session.get('user') %}
        <nav>
            <a href="{{ url_for('overview') }}">Übersicht</a>
            <a href="{{ url_for('new_entry') }}">+ Eintrag</a>
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('logout') }}">Abmelden</a>
        </nav>
        {% endif %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>